body{
    max-width: 1280px;
    margin: 0 auto;
    font-size: 14px;
}

h1{
    text-align: center;
}

.menu-principal{
    display: flex;
    flex-direction: column;

}

button{
    padding: 20px;
    color:white;
    background-color: cornflowerblue;
    border:inherit;
    font-weight: bold;
    transition:all 0.3s ease-out;
    width: 80%;
    margin:10px auto;
    cursor: pointer;
    text-shadow:1px 1px 2px black;
    font-size:1.5rem;
}

button:hover{
    background-color: #1b65ea;
}




/* ********************************************* */
.joueuses-en-jam{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    background-color: gray;
    padding:20px;
}
.joueuse{
    padding:10px;
    font-size: 1.2rem;
    color:white;
    width: 15%;
    border-radius: 5px;
    margin: 0 5px;
    background-color: black;
}

.role-blocker{
    background-color: green;
}

.role-jammer{
    background-color: coral;
}

.liste-joueuses{
    display: flex;
    margin-top:30px;
    flex-wrap: wrap;
    justify-content: center;
}

.liste-joueuses .joueuse{
    margin-top:10px;
}